/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*other*/
a{
  text-shadow: 0 0 1px #1d2299;
  color: #000;
  text-decoration: none;
}

a:hover{
  color: #eb0202;
}
/*header*/
.wrapper{
  background-color: #fff;
  margin: 0 auto;
}
.header{
  background-color: #fff;
  height: 60px;
  padding: 10px;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 10;
}
.header_black{
  background-color: #ccc;
  height: 81px;
  z-index: 9;
  position: fixed;
  width:100%;
}
.icon img{
  padding: 5px 0 0 20px;
  width: 40px;
  float: left;
}
.home a{
  float: left;
  padding:20px 0 0 10px;
}
.menu li{
  float: right;
  margin: 20px 50px 0 0;
}
li{
  display: inline-block;
}

.bg{
  margin: 0 ;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 480px;
}

/*content*/
.content{
  margin: 0;
  text-align: center;
  background-color: #fff;
  width: 100%;
}
.row1{
  background-color: #fff;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px 0 25px;

}
.pic img{
    width: 200px;
    padding: 30px;
    float: left;
}
h1{
	font-size: 40px;
	text-align: center;
	padding-top: 275px;
	color: #fff;
	text-shadow: 0 1px 5px rgba(0,0,0,1);
}


h2, h3{
  font-size: 26px;
  padding: 30px;
}
h2{
	padding-top: 70px;
}
div.pic_text p{
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  padding-left: 300px;
}
.row2{
  background-color: #fff;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px ;
}

.box{
  background-color: #fff;
  width: 33.33%;
  height: 400px;
  float: left;
}
.border{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #f76a6a;
  margin: 20px auto ;
  margin-bottom: 0px;
}
.box p{
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    padding: 10px 25px 0 25px;

}
.border_pic{
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*content2*/
.content2{
  text-align: center;
  height: 150px;
  background-color: #fff;
}
.content2 a{
  background-color: #f75959;
  width: 250px;
  display: block;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 50px;
  margin: auto;
}
.content2 a:hover{
  background-color: #e93030;
}

.content2 p{
  padding-top: 20px;
  font-size: 18px;
}

/*footer*/
.footer{
  background-color: #cdcaca;
  height: 50px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer img{
  width: 50px;
  float: left;
  padding: 5px 0 0 10px;
}
.footer_2{
  float: left;
}
.footer_2 p{
  padding: 5px 0 0 10px;
  line-height: 1.2;
}
.footer_3{
  float: right;
  padding-top: 15px;
}
.footer_3 li{
  padding-right: 30px;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}




@media screen and (max-width:960px){
  .box{
    width: 100%;
  }
  .pic img{
    float: none;
	}
	.pic_text h2{
		padding-top: 0px;
	}
}
@media screen and (max-width:600px){
  div.menu ul{
    display: none;
  }
	h1{
		font-size: 30px;
	}
}
@media screen and (max-width:522px){
  .footer_1, .footer_2{
    display: none;
  }
}
div.pic_text p{
  text-align: center;
  padding-left: 0;
}
